#ftab {
  width: 1.5em;
  height: 5em;
  position: fixed;
  top: 200px;
  left: 0;
  background-color: #C44B4B;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #95B7C9;
  font-size: 1.5em;
  box-shadow:  1px 1px 3px 0px #401818; 
}

.rotate {
/* Safari */
-webkit-transform: rotate(-90deg);
/* Firefox */
-moz-transform: rotate(-90deg);
/* IE */
-ms-transform: rotate(-90deg);
/* Opera */
-o-transform: rotate(-90deg);
/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.ctitle {
  width: 3.3em;
  margin-top: 2em;
  margin-left: -0.9em;
  letter-spacing: 1px;
  text-shadow: -1px -1px 1px rgba(74, 81, 84, 1);
}