.multiselect {
    width: 200px;
}
.multiselectInput {
    width: 100%;
    border: inset;
}
.selectBox {
    position: relative;
}
.selectBox select {
    width: 100%;
    font-weight: bold;
}
.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.no-click {
    width: 200px;
    height: 25px;
    border: unset;
    /*background-color: #9a9a9a;*/
    pointer-events: none;
}
#checkboxes {
    display: none;
    border: 2px #dadada solid;
}
#checkboxes label {
    display: block;
}
/*#checkboxes label:hover {
    background-color: #af9cb5;
}*/
#scroller {
    overflow: auto;
    height: 140px;
}