<%- include('../decorators/header') %>

<div class="wrapper wrapper-full-page"  style="background-color:#2E3C54">
    <div class=" login-page"  >
	    <div class="content"  >
	        <div class="container">
	            <div class="row">
	                <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3 ">
	                    <div class="card">
	                        <form  method="post" action="#">
	                        	<div class="card">
		                            <div class="card-header text-center">
										<h4 class="card-title">
											Create New Password
										</h4>
									</div>
									<% if(locals.error) { %>
        								<div class="alert alert-danger"><%= error %></div>
      								<% } %>
      								<% if(locals.success) { %>
                                        <div class="alert alert-success"><%= success %></div>
                                    <% } %>
									<div class="card-content">
		                                <div class="form-group">
		                                    <label class="control-label">Enter Password <star>*</star></label>
		                                    <input class="form-control"
		                                        name="password"
		                                        type="password"
									            required="true"
												id="txtNewPassword"
											/>
		                                </div>
		                                <div class="form-group">
		                                    <label class="control-label">Confirm Password <star>*</star></label>
		                                    <input class="form-control"
												name="password1"
												id="txtConfirmPassword" 
												type="password"
												required="true"
											/>
		                                </div>
		                                <div class="registrationFormAlert" id="divCheckPasswordMatch">
										</div>
		                            </div>
									<div class="card-footer text-center">
										<button type="submit" id="submit" class="btn btn-info btn-fill btn-wd">Create</button>
									</div>
								</div>
	                        </form>
	                    </div>
	                </div>
		        </div>
	        </div>
		</div>
	</div>
</div>
</body>
<%- include('../decorators/footer') %>