<div ng-show="brandPage" class="container-fluid">
    <!-- <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Start From</label>
                                <input type="text" class="form-control datepicker" id="startFrom" placeholder="Select Date" ng-model="startFrom">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>End At</label>
                                <input type="text" class="form-control datepicker" id="endAt" placeholder="Select Date" ng-model="endAt">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label>Model / Item Name</label>
                                <select multiple class="selectpicker" title="select model" data-size="5" data-live-search="true" data-actions-box="true"  data-selected-text-format="count" ng-model="itemList">
                                    <option ng-repeat="pil in prodItemLists" ng-value="pil._id">{{pil.itemName}} {{pil.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label style="margin-bottom: 0px;">Filters</label>
                        </div>
                        <div class="col-sm-6 col-lg-3" style="width: 17%;">
                            <div class="checkbox">
                                <input type="checkbox" id="checkbox2" ng-model="showDescription" ng-click="vm.refreshPicker()">
                                <label for="checkbox2">Product Description</label>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3" style="width: 17%;">
                            <div class="checkbox">
                                <input type="checkbox" id="checkbox3" ng-model="showCategory" ng-click="vm.refreshPicker()">
                                <label for="checkbox3">Product Category</label>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3" style="width: 15%;">
                            <div class="checkbox">
                                <input type="checkbox" id="checkbox1" ng-model="showBrand" ng-click="vm.refreshPicker()">
                                <label for="checkbox1">Brand</label>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-3" style="width: 17%;">
                            <div class="checkbox">
                                <input type="checkbox" id="checkbox4" ng-model="showAttribute" ng-click="vm.refreshPicker()">
                                <label for="checkbox4">Product Attribute</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div ng-show="showDescription" class="col-sm-4">
                            <div class="form-group">
                                <label>Product Description</label>
                                <select multiple class="selectpicker" title="select product description" data-size="5" data-live-search="true" data-actions-box="true"  data-selected-text-format="count" ng-model="prodDescriptionList" ng-change="prodDescriptionChange()">
                                    <option ng-repeat="pdl in prodDescriptionLists" ng-value="pdl._id">{{pdl.type}}</option>
                                </select>
                            </div>
                        </div>
                        <div ng-show="showCategory" class="col-sm-4">
                            <div class="form-group">
                                <label>Product Category</label>
                                <select multiple class="selectpicker" title="select product category" data-size="5" data-live-search="true" data-actions-box="true"  data-selected-text-format="count" ng-model="prodCategoryList" ng-change="filterChange()">
                                    <option ng-repeat="pcl in prodCategoryLists" ng-value="pcl._id">{{pcl.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div ng-show="showBrand" class="col-sm-4">
                            <div class="form-group">
                                <label>Brand</label>
                                <select multiple class="selectpicker" title="select brand" data-size="5" data-live-search="true" data-actions-box="true"  data-selected-text-format="count" ng-model="brandList" ng-change="filterChange()">
                                    <option ng-repeat="bl in brandLists" ng-value="bl._id">{{bl.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div ng-show="showAttribute" class="col-sm-4">
                            <div class="form-group">
                                <label>Product Attribute</label>
                                <select multiple class="selectpicker" title="select product attribute" data-size="5" data-live-search="true" data-actions-box="true"  data-selected-text-format="count" ng-model="prodAttributeList" ng-change="attributeChange()">
                                    <option ng-repeat="pal in prodAttributeLists" ng-value="pal._id">{{pal.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div ng-repeat="al in attributeLists" class="col-sm-4">
                            <div class="form-group">
                                <label>{{al.name}}</label>
                                <select multiple class="selectpicker" title="select {{al.name}}" data-size="5" data-live-search="true" data-actions-box="true"  data-selected-text-format="count" ng-model="attribute[$index]" ng-change="filterChange()">
                                    <option ng-if="alv.active == true" ng-repeat="alv in al.value" ng-value="alv._id">{{alv.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-right" style="margin-bottom: 10px;">
        <button ng-show="showTable" class="btn btn-primary btn-fill btn-wd" ng-click="exportToExcel('#rdsTertiary')">Export Report</button>
        <button class="btn btn-warning btn-fill btn-wd" ng-click="getReport()">Refresh</button>
    </div>
    <div ng-show="showTable" class="row">
        <div class="col-lg-12 col-md-12">
        	<div class="card">
				<div class="card-content">
                    <div style="overflow-x: auto;">
                        <table id="rdsTertiary" border="1" class="table table-bordered dtr-inline" width="100%">
                            <thead>
                                <th><b>State</b></th>
                                <th><b>Zone</b></th>
                                <th><b>District</b></th>
                                <th><b>Sales Person</b></th>
                                <th><b>RDS Name</b></th>
                                <th><b>RDS Region</b></th>
                                <th><b>Dealer Name</b></th>
                                <th><b>Dealer Category</b></th>
                                <th><b>Dealer Area</b></th>
                                <th ng-repeat="item in prodItem"><b>{{item.itemName}}</b></th>
                                <!-- <th ng-repeat-start="item in prodItem"><b>{{item.itemName}}</b></th>
                                <th ng-repeat-end><b>Age</b></th> -->
                           <!--   </thead>
                            <tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    
<div class="row ">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Statewise Summary</h4>
            </div>
            <div class="card-content">
                <div id="RDSSummaryStatewise" class="chart"></div>
            </div>
        </div>
    </div>
 
    <div class="col-md-4 col">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Stock</h4>
            </div>
            <div class="card-content">
                <div id="RDSStock" class="chart"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col">
            <div class="card ">
                    <div class="card-header">
                        <h4 class="card-title">Top Perfoming</h4>           
                        <p class="category">For Last 30 Days</p>           
                    </div>
                    <div class="card-content table-responsive table-full-width" style="height:290px">
                        <table class="table" style="padding: 5px">
                            <thead>
                                <tr>
                                  
                                    <th>State</th>
                                    <th>RDS Name</th>
                                    <th class="text-center">Qty</th>
                                          
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    
                                    <td>Delhi</td>
                                    <td>RDS Name</td>
                                    <td class="text-center">4320</td>
                                                      
                                </tr>
                                <tr>
                                   
                                    <td>Maharastra</td>
                                    <td>RDS NAME</td>
                                    <td class="text-center">3730</td>
                                  
                                </tr>
                                <tr>
                                  
                                    <td>Madhya Pradesh</td>
                                    <td>RDS NAME</td>
                                    <td class="text-center">2490</td>
                                   
                                </tr>
                                <tr>
                                   
                                    <td>Karnataka</td>
                                    <td>RDS NAME</td>
                                    <td class="text-center">1900</td>
                                   
                                </tr>
                                <tr>
                                        
                                        <td>Kerala</td>
                                        <td>RDS NAME</td>
                                        <td class="text-center">1800</td>
                                    </tr>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
    </div>
    <div class="col-md-4 col">
            <div class="card ">
                    <div class="card-header">
                        <h4 class="card-title">Low Perfoming</h4>          
                        <p class="category">For Last 30 Days</p>                    
                    </div>
                    <div class="card-content table-responsive table-full-width" style="height:290px">
                        <table class="table" style="padding: 5px">
                            <thead>
                                <tr>
                                    
                                    <th>State</th>
                                    <th>RDS Name</th>
                                    <th class="text-center">Qty</th>
                                          
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    
                                    <td>Andra Paradesh</td>
                                    <td>RDS Name</td>
                                    <td class="text-center">240</td>
                                                      
                                </tr>
                                <tr>
                                   
                                    <td>West Bengal</td>
                                    <td>RDS NAME</td>
                                    <td class="text-center">311</td>
                                  
                                </tr>
                                <tr>
                                   
                                    <td>Telangana</td>
                                    <td>RDS NAME</td>
                                    <td class="text-center">429</td>
                                   
                                </tr>
                                <tr>
                                    
                                    <td>Gujarath</td>
                                    <td>RDS NAME</td>
                                    <td class="text-center">513</td>
                                   
                                </tr>
                                <tr>
                                    
                                        <td>Rajasthan</td>
                                        <td>RDS NAME</td>
                                        <td class="text-center">639</td>
                                </tr>                           
                            </tbody>
                        </table>
                    </div>
                </div>
    </div>

 
</div>
</div>
<style>
    .cover {
        background-size: cover;
        display: table;
        width: 100%;
        height: 100%; /* For at least Firefox */
        min-height: 100%;
        text-align: center;
    }
    .cover-inner {
        display: table-cell;
        vertical-align: middle;
    }
    .inner {
        padding: 30px;
    }
    header {
        margin: 0 auto;
        max-width: 800px;
    }
    .twisted{
        transform: skew(-16deg, 1deg) ;
        -webkit-transform: skew(-16deg, 1deg) ;
        -moz-transform: skew(-16deg, 1deg) ;
        -o-transform: skew(-16deg, 1deg) ;
        -ms-transform: skew(-16deg, 1deg) ;
    }
    .headline {
        font: 500 100px 'Megrim';
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .p1{
        font: 200 48px 'Raleway';
        letter-spacing: 1px;
    }
    .border-line {
        border-top: 2px solid #262626;
        margin: 15px auto;
        max-width: 350px;
    }
    @media (max-width: 450px) {
        .headline {
            font-size: 70px;
        }
        .inner {
            padding: 20px;
        }
        .cover {
            background: rgba(235, 235, 220, 0.8);
        }
    }
</style>
<div ng-show="distPage" class="cover">
    <div class="cover-inner">      
        <div class="twisted">
            <div class="border-line"></div>
            <h1 class="headline">coming soon</h1>
            <div class="border-line"></div>
        </div>
        <div class="inner"></div>
        <p class="p1">Stay Tuned For Updates.</p>
    </div>
</div>                     