<div class="container-fluid">
    <div class="text-right" style="margin-bottom: 5px;">
        <button class="btn btn-primary btn-fill btn-wd" ng-click="back()">Back</button>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <label>Upload Excel Sheet(XLSX)</label>
                            <div class="input-group">
                                <input class="form-control" type="file" file-model="excelSheet">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" type="submit" ng-click="upload()" ng-init="count=0">
                                        Validate
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <h5><b>Total Bills&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;{{total}}</b></h5>
                        </div>
                        <div class="col-sm-4">
                            <h5><b>Valid Bills&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;{{valid}}</b></h5>
                        </div>
                        <div class="col-sm-4">
                            <h5><b>Invalid Bills&nbsp;&nbsp;:&nbsp;&nbsp;{{total - valid}}</b></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <a href="{{'../excel_format/import_sale_bill_format.xlsx'}}" class="btn btn-fill btn-sm btn-default pull-left" target="_blank">Excel Data Format (XLSX)</a>
                            <button class="btn btn-default btn-fill pull-right" ng-click="saveSaleBills()">Save Valid Bills</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>