<div class="container-fluid">
    <div class="text-right" style="margin-bottom: 5px;">
        <button class="btn btn-fill btn-default btn-wd" ng-click="addNewCredit()">Add New Credit</button>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-content">
                    <table class="table table-bordered table-stripped dataTable dtr-inline" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance"  width="100%" dt-column-defs="vm.dtColumnDefs">
                        <thead>
                            <th><b>#</b></th>
                            <th><b>Number</b></th>
                            <th><b>Date</b></th>
                            <th><b>Ledger From</b></th>
                            <th><b>Ledger To</b></th>
                            <th class="text-center"><b>Amount</b></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="credit in credits">
                                <td>{{$index + 1}}</td>
                                <td>{{credit.invoiceNumber}}</td>
                                <td>{{credit.invoiceDate}}</td>
                                <td>{{credit.ledgerFrom.refId.name}}</td>
                                <td>{{credit.ledgerTo.refId.name}}</td>
                                <td class="text-right">{{credit.amount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="editDebitModal.html">
    <style>
        @media (min-width: 992px){
            .modal-lg{
                width: 900px;
            }
            .modal-dialog{
                width: 900px;
                margin: 30px auto;
            }
        }
        input[list]::-webkit-calendar-picker-indicator {
            display: none;
        }
    </style>
    <div class="modal-content modal-lg">
        <div class="modal-header" style="padding: 10px;">
            <span class="modal-title" style="font-size: 20px;"><b>Add New Credit</b></span>
            <button type="button" class="close" data-dismiss="modal" ng-click="close()">Close</button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        <h5><b>Credit Number</b>&nbsp;:&nbsp;<u>{{credit.invoiceNumber}}</u></h5>
                    </div>
                    <div class="pull-right">
                        <h5><b>Date</b>&nbsp;:&nbsp;<u>{{credit.invoiceDate}}</u></h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>Type</label>
                        <select class="selectpicker" data-style="btn btn-default btn-block" data-size="5" ng-model="credit.type" ng-change="typeChange()">
                            <option>Without GST</option>
                            <option>With GST</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="checkbox" style="margin-top: 25px;">
                        <input type="checkbox" id="checkbox1" ng-model="showItem" ng-click="showItemClick()">
                        <label for="checkbox1">With Item / Model </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Ledger From</label>
                        <input type="text" class="form-control" id="ledger_list" list="ledgerlist" ng-model="ledfrom" placeholder="select ledger">
                        <datalist id="ledgerlist">
                            <option ng-if="ledto != lg.refId.name" ng-repeat="lg in ledger" id="{{lg._id}}" value="{{lg.refId.name}}"></option>
                        </datalist>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Ledger To</label>
                        <input type="text" class="form-control" id="ledger_list1" list="ledgerlist1" ng-model="ledto" placeholder="ledger to">
                        <datalist id="ledgerlist1">
                            <option ng-if="ledfrom != lg.refId.name" ng-repeat="lg in ledger" id="{{lg._id}}" value="{{lg.refId.name}}"></option>
                        </datalist>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Amount</label>
                        <input type="text" class="form-control" ng-model="credit.amount" placeholder="Enter amount" awnum>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Reference Date</label>
                        <input type="text" class="form-control datepicker" id="creditDate" placeholder="select date" ng-model="credit.refdate">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Remarks</label>
                        <textarea class="form-control" placeholder="Enter the remarks for this credit" rows="4" ng-model="credit.remark"></textarea>
                    </div>
                </div>
                <div ng-show="showItem" class="col-sm-6">
                    <div class="form-group">
                        <label>Item / Model</label>
                        <select class="selectpicker" data-style="btn btn-default btn-block" data-size="5" ng-model="credit.item">
                            <option value>--choose item / model --</option>
                            <option ng-repeat="prodItem in productItems" ng-value="prodItem._id">{{prodItem.itemName}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <button class="btn btn-fill btn-danger" ng-click="close()">Cancel</button>
                        <button class="btn btn-fill btn-success" ng-click="saveCredit()">Save</button>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>  
    </div>
</script>